extends layout

block content
  script(src="public/javascripts/script.js")
  script(src="public/javascripts/validURL.js")

  h1= title
  p Put long URL here:
  form(method='POST' action='/')
          div.form-group
            input#oriurl.form-control(type='text', name='longURL' onchange='let val=document.getElementById("oriurl").value; validURL(val)')
          br
          button#submitLong.btn.btn-primary(type='submit' disabled) Shorten!
  p Click to copy:
  input(id="shortenURL" type=text onClick='copyOnClick()'  value=shortResult)